<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">My Darkest Secrets!!!</h1>
    <!-- <p class="secret-text">I AM NOOB</p> -->
    <% secretsList.forEach(element => { %>
    <p class="secret-text"><%= element.text %></p>
    <% }); %>
    <hr />

    <a class="btn btn-danger btn-lg btn-custom" href="/logout" role="button">Log Out</a>
    <a class="btn btn-light btn-lg btn-custom" href="/secretsPublic" role="button"
      >Public Secrets</a
    >
    <a class="btn btn-dark btn-lg btn-custom" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<%- include('partials/footer') %>
